/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
}

.btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-container #btn {
  margin: 50px 0;
  padding: 15px 25px;
  background-color: #474747;
  border: #222;
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.btn-container #btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.output-cointainer {
  width: 100%;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.output-cointainer h1 {
  color: #fff;
}

#output {
  width: 80%;
  margin-top: 25px;
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(1, fr);
  gap: 2rem;
  border-radius: 5px;
}
.card {
  text-align: center;
  padding: 1rem;
  display: grid;
  grid-template-columns: 25% auto;
  justify-items: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 20px 8px #d0d0d0;
  border-radius: 10px;
}
.card img {
  width: 100%;
  border-radius: 50%;
}
.card h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: black;
}

/*=========   media  ============ */
@media screen and (min-width: 700px) {
  #output {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  #output {
    grid-template-columns: repeat(3, 1fr);
  }
}
