/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Mobile first */
body {
  /* background: #f2f2f2; */
  /* background: #efeef2; */
  background: #fff;
  color: #f2f2f2;
}
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.container h1 {
  margin-top: 50px;
  margin-bottom: 4rem;
  color: #333;
  font-size: 2.8rem;
}
#output {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
.card {
  text-align: center;
  padding: 1rem;
  /* background: white; */
  /* background: radial-gradient(#60efbc, #58d5c9); */
  /* background-color: #4aada9; */
  background-color: #969eb1;
  /* color: #f2f2f2; */
  border-radius: 10px;
  box-shadow: 0 0 15px 8px #d0d0d0;
}
.card:hover {
  border: 3px solid white;
}
.card h3 {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  font-size: 2rem;
}
.card ul {
  list-style: none;
  columns: 2;
  font-size: 1rem;
  line-height: 1.5;
}

@media screen and (min-width: 600px) {
  .card ul {
    font-size: 1.2rem;
  }
  .card h3 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  #output {
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    padding: 2rem;
  }
  .card h3 {
    font-size: 2.5rem;
  }
  .card ul {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1400px) {
  #output {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
  .container {
    padding: 2rem;
  }
  .card ul {
    font-size: 1.5rem;
  }
  .card h3 {
    font-size: 2.8rem;
  }
}
